body{
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 50px;
  background: #eee;
  height: auto;
}

#grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  row-gap: 10px;
}

#grid .div1{
  height: 25px;
  width: 25px;
  background-color: #000;
   border-radius: 50%;
  display: inline-block;
}
